

  <div class="Rectangle-14">
    <img src="assets/logos/Logofinal.png" class="Logofinal-1">
    <span class="TuVueloYa">TuVueloYa</span>

  </div>

  <div class="Frame-1">
    <span class="Ingresa-Cdigo-de-Reserva">Ingresa Código de Reserva</span>
    <img src="assets/logos/lupa%20(1).png" style="position: fixed;right: 90px; top: 110px;">
    <div class="Rectangle-3"><span class="l3mx7y">l3mx7y</span></div>

  </div>


 <div class="barra">
  <span class="Ubicacion">Ubicación</span>
  <span class="Fecha">Fecha</span>
    <div class="Ellipse-1"></div>
      <span class="Ida">Ida</span>
   <div class="Ellipse-2"></div>
   <span class="IdayRegreso">Ida y Regreso</span>

 </div>

  <div class="Rectangle-4"><span class="Origen">Origen</span></div>
  <div class="Rectangle-4" style="left: 320px"><span class="Origen" style="left: 385px">Destino</span></div>
  <div class="Rectangle-4"style="left: 530px"><span class="Origen"style="left: 600px">Salida</span></div>
  <div class="Rectangle-4"style="left: 740px"><span class="Origen"style="left: 800px">Regreso</span></div>
  <div class="Rectangle-4"style="left: 950px"><span class="Origen"style="left: 1000px">Adulto</span><span style="width: 38px;height: 28px;font-size: 24px; position: fixed; right: 470px;top: 410px">#</span></div>
  <div class="Rectangle-4"style="left: 1160px"><span class="Origen"style="left: 1200px">Niño</span><span style="width: 38px;height: 28px;font-size: 24px; position: fixed; right: 290px;top: 410px">#</span></div>
  <div class="Frame-2"></div>
  <div class="Frame-2" style="right: 280px"></div>
  <div class="Dropdown-Interaction-Main-Main-2"><span class="default">Mas opciones</span><div class="Vector"><img src="assets/logos/Vector.png"></div></div>
  <div class="Dropdown-Interaction-Main-Main-2" style="top: 600px;"><span class="default" style="top: 610px">Mas opciones</span><img src="assets/logos/Vector.png" style="position:fixed;top: 620px; width: 13.3px;height: 8.1px;left: 380px;"></div>


  <div class="Rectangle-15"><span class="Buscar">Buscar</span></div>


